@media only screen and (max-width: 991px)
    //.section1
    //    height: 350px

@media only screen and (max-width: 767px)
    //.section1
    //    height: 330px
    .dish
        text-align: center
    .dish__img
        width: 65%
    .dish-info
        margin-top: 15px
    .dish-info__about
        padding: 5px
        text-align: justify
    