.mainhead
  min-height: 650px
  background-position: center top
  background-repeat: repeat-x
  background-color: #32190d

.wavytop
  height: 7px
  background-image: url("../images/wavyline.png")

.mainhead_backgr
  background-image: url("../images/background.jpg")

.mainhead_header
  background-image: url("../images/background&foto.jpg")

.wavybottom
  height: 7px
  position: relative
  bottom: -246px
  background-image: url("../images/wavyline1.png")
.lockCircle
  background-image: url("../images/circle(2).png")
  width: 64px
  height: 64px
  position: relative
  bottom: 36px
  right: -1150px