.mainhead
  min-height: 573px
  background-image: url("../images/background.jpg")
  background-position: center bottom
  background-repeat: repeat
  background-color: #32190d

.wavytop
  height: 7px
  background-image: url("../images/wavy line.png")