.section1
  height: 450px
  background-image: url("../images/section1/bgd_sec1.png")

.dish
  margin-top: -80px
  width: 725px
  height: 607px
  transform: rotate(-25deg)

.dish__img
  width: 100%

.dish-info
  margin: 0 auto
  margin-top: 30%

.dish-info__name_price


.dish-info__name

.dish-info__oldPrice

.dish-info__newPrice