.section1
  background-image: url("../images/section1/bgd_sec1.png")

.dish
  //height: 511px

.dish_img
  margin-top: -96px
  img
    max-width: 100%
    max-height: 100%

@media (min-width: 1490px)
  .dish_img
    margin: -96px 0 -61px -170px
    //height: 607px

@media (min-width: 768px) and (max-width: 1199px)
  .dish_img
    margin: -96px 0 -200px 0
    //height: 607px

@media  (max-width: 480px)
  .dish_img
    margin-top: -40px


.dish-info
  margin-top: 120px
  margin-bottom: 79px
  text-align: right
  max-width: 523px

.dish-info__title
  color: $baseWithe_title
  font-family: Kadwa, serif
  font-size: 22px

.dish-info__name_price
  color: #000
  font-family: Montserrat, sans-serif
  opacity: .8
  margin-top: 30px

.dish-info__name
  font-size: 16px
  font-weight: 600

.dish-info__oldPrice
  font-size: 14px
  font-weight: 400
  text-decoration: line-through

.dish-info__newPrice
  font-size: 26px
  font-weight: 800

.dish-info__about
  color: $baseWithe_text
  font-size: 14px
  margin-top: 30px
  opacity: .8
  padding-left: 50px

.dish-info__button
  border-radius: 50px
  border-color: $baseWithe_title
  background-color: $baseRed_color
  color: $baseWithe_title
  margin-top: 30px
  font-family: Montserrat, sans-serif
  width: 150px

/*----------------------------cart-----------------------------------*/
.cart__relative
  position: relative

.circle-cart
  position: absolute
  top: -33px
  right: 5%
  background-image: url("../images/icon-cart/cart.svg")
  background-repeat: no-repeat
  width: 64px
  height: 64px
  z-index: 100
  padding-top: 35px
  padding-left: 40px

#countGoods
  font-family: Montserrat, sans-serif
  font-size: 10px
  color: $baseRed_color
/*----------------------------wave line bottom-----------------------------------*/
  
.section1__wavy-line--bottom
  height: 7px
  background-image: url("../images/wavy line.png")

