.section2
  background-image: url("../images/section2/bgd_sec2.png")

.aboutOur
  width: 100%

.aboutOur__img
  width: 100%

.aboutOur__title--h3
  color: $baseWithe_text
  font-family: Kadwa, serif
  font-size: 26px
  font-weight: 900
  letter-spacing: 3px
  margin-top: 80px

.aboutOur__title--h4
  color: $baseWithe_text
  font-family: Kadwa, serif
  font-size: 16px
  font-weight: 900
  letter-spacing: 3px
  margin-top: 30px
  margin-bottom: 17px

.aboutOur-info
  margin-top: 10%
  text-align: left

.aboutOur-info__about
  color: $baseWithe_text
  font-family: Montserrat, sans-serif
  opacity: .8
  line-height: 1.7
  margin-bottom: 25px

.aboutOur-info__button
  border-top-width: 2px
  border-bottom-width: 2px
  border-right-width: 2px
  border-left-width: 2px
  border-radius: 50px
  border-color: $baseWithe_title
  //background-color: $baseRed_color
  color: $baseWithe_title
  margin-top: 5px
  margin-bottom: 50px
  font-family: Montserrat, sans-serif
  width: 150px
  height: 40px